

  <div class="row">
<h1 class="opening_title">Mike's Landscape Emporium</h1>
</div>

<p>Welcome! The date and time is <%= Time.now %></p>

<div class="row">
  <h2 class="front_page_text">Getting our hands dirty in the Triangle since 2018.</h2>
</div>

<div class="row">
  <div class="col-md-4">
    <div>
      <%= image_tag("grass_cropped.jpg") %>
    </div>
</div>

<div class="col-md-4">
  <div class="services_middle">
    <div class="help_with_list">
    <h3 class="list_title"> We can help with:</h3>
    <ul>
      <li>Lawn, trees, plants!</li>
      <li>Garden features and mulch</li>
      <li>Birdfeeder installations</li>
      <li>Dog and pet fencing</li>
      <li>Water features</li>
      <li>Much, much more!</li>
    </ul>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div>
    <%= image_tag("hummingbird_cropped.jpg") %>
  </div>
</div>
</div>

<div class="col-md-12">
  <div class="mundane_life">
    <h2>Want to bring some wildlife into your mundane life?  Give us a call.</h2>
    <h2>For all of your landscaping needs for yard, home, and garden!<h2>
  </div>
</div>
</div>







































































<!--
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6>"
      <p class="front_page_text">Getting our hands dirty in the Triangle since 2018.</p>
    </div>
    <div>
      <%= image_tag("grass_cropped.jpg") %>
    </div>


  </div>
</div>


<h2>For all of your landscaping needs for yard, home, and garden!<h2>
<%= image_tag("hummingbird_cropped.jpg") %>
<h2>Want to bring some wildlife into your mundane life?  Give us a call.</h2>

<div class="help_with_list">
<h2 class="list_title"> We can help with:</h2>
<ul>
  <li>Birdfeeder installations</li>
  <li>Dog and pet fencing</li>
  <li>Water features</li>
  <li>Much, much more!</li>
</ul>
</div>

-->
