<h2>Featured Product:  <strong><%= @featured_product.name %></strong> </h2>

<br>
<h3><%= @featured_product.description %></h3>
<br>
<p>Price: $ <%= @featured_product.price %> per cubic yard</p>




<h1><%= link_to @featured_product.name, @featured_product %></h1>
<% if @featured_product.image_url %>
<%= image_tag(@featured_product.image_url, class: "img-fluid") %>
<%end%>
<div class="row">
  <%= render partial: "products/product", locals: {product: @featured_product} %>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <% @products.each do |product| %>
      <div class="carousel-item<%= " active" if product == @products.first %>">

        <<%= image_tag(product.image_url, class: "img-fluid") %>>
        <div class="carousel-caption d-none d-md-block">
          <h5><%= product.name %></h5>

        </div>
      
      </div>
    <% end %>


  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
