<p id="notice"><%= notice %></p>

<h1>Always in stock!</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Color</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <h4>Here are THE most useful products for DIY yard beautification in our area!</h4>

    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= product.color %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm">

        <a href="#"><h1><%= product.name %></h1></a>
        <p><%= product.description %></p>
        <strong>$ <%= product.price %></strong>
      </div><!-- /col -->
    <% end %>
  </div>
</div>



<!--
<div class="container top-row">
  <div class="row">
    <div class="col-sm">
      <a href="#"><h1>Hardwood Mulch</h1></a>
      <p>Pretty cool bike</p>
      <strong>$ 42</strong>
    </div>
    <div class="col-sm">
      <a href="#"><h1>Playground Mulch</h1></a>
      <p>Really cool bike</p>
      <strong>$ 84</strong>
    </div>
    <div class="col-sm">
      <a href="#"><h1>Leaf-Compost Mix</h1></a>
      <p>Best bike ever</p>
      <strong>$ 999</strong>
    </div>
  </div>

  <div class="container middle-row">
    <div class="row">
      <div class="col-sm">
        <a href="#"><h1>Pea Gravel</h1></a>
        <p>Pretty cool bike</p>
        <strong>$ 42</strong>
      </div>
      <div class="col-sm">
        <a href="#"><h1>Paver Stones</h1></a>
        <p>Really cool bike</p>
        <strong>$ 84</strong>
      </div>
      <div class="col-sm">
        <a href="#"><h1>Stepping Stones</h1></a>
        <p>Best bike ever</p>
        <strong>$ 999</strong>
      </div>
    </div>

    <div class="container bottom-row">
      <div class="row">
        <div class="col-sm">
          <a href="#"><h1>Geotextile Fabric</h1></a>
          <p>Pretty cool bike</p>
          <strong>$ 42</strong>
        </div>
        <div class="col-sm">
          <a href="#"><h1>Azaleas</h1></a>
          <p>Really cool bike</p>
          <strong>$ 84</strong>
        </div>
        <div class="col-sm">
          <a href="#"><h1>Liriope Grass</h1></a>
          <p>Best bike ever</p>
          <strong>$ 999</strong>
        </div>
      </div>

</div>

-->

<br>

<%= link_to 'New Product', new_product_path %>

<% paragraph_number = 1 %>
<% 5.times do %>
  <p>This is paragraph number <%= paragraph_number %></p>
  <% paragraph_number = paragraph_number + 1 %>
<% end %>
