<p id="notice"><%= notice %></p>

<h1>Always in stock!</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Color</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <h4>Here are THE most useful products for DIY yard beautification in our area!</h4>

    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= product.color %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--code block below loops through my products in database, but does not line them up nicely on page -->
<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm">
        <%#= image_tag(product.image_url, class: "img-fluid") %>
        <a href="#"><h1><%= product.name %></h1></a>
        <p><%= product.description %></p>
        <strong><%= product.price %></strong>
        <p><%= product.color %></p>
      </div><!-- /col -->
    <% end %>
  </div>
</div>




<!-- code below are products lined up correctly using Bootstrap 3 X 3 columns

<div class="container top-row">
  <div class="row">
    <div class="col-sm">
      <a href="#"><h1>Hardwood Mulch</h1></a>
      <p>Our most versatile mulch. Use almost anywhere. Price per cubic yard.</p>
      <strong>$ 42</strong>
    </div>
    <div class="col-sm">
      <a href="#"><h1>Playground Mulch</h1></a>
      <p>Certified playground mulch, lasts nearly forever! Price per cubic yard.</p>
      <strong>$ 84</strong>
    </div>
    <div class="col-sm">
      <a href="#"><h1>Leaf-Compost Mix</h1></a>
      <p>Anything will grow in this stuff. Gardener's favorite!</p>
      <strong>$ 999</strong>
    </div>
  </div>

  <div class="container middle-row">
    <div class="row">
      <div class="col-sm">
        <a href="#"><h1>Pea Gravel</h1></a>
        <p>Versatile, for where you want a different color. Great even for play spaces.</p>
        <strong>$ 42</strong>
      </div>
      <div class="col-sm">
        <a href="#"><h1>Paver Stones</h1></a>
        <p>Use for patios, driveways, and other DIY projects!</p>
        <strong>$ 84</strong>
      </div>
      <div class="col-sm">
        <a href="#"><h1>Stepping Stones</h1></a>
        <p>Our best stone for walkways and stepping paths through yards or woods.</p>
        <strong>$ 999</strong>
      </div>
    </div>

    <div class="container bottom-row">
      <div class="row">
        <div class="col-sm">
          <a href="#"><h1>Geotextile Fabric</h1></a>
          <p>Weeds will not get through this! Durable and long-lasting.</p>
          <strong>$ 42</strong>
        </div>
        <div class="col-sm">
          <a href="#"><h1>Azaleas</h1></a>
          <p>Need a splash of color in the spring? Get these.</p>
          <strong>$ 84</strong>
        </div>
        <div class="col-sm">
          <a href="#"><h1>Liriope Grass</h1></a>
          <p>Hardy and looks great! Line walkways and use for borders. A southern favorite!</p>
          <strong>$ 999</strong>
        </div>
      </div>
</div>
-->


<br>

<%= link_to 'New Product', new_product_path %>
